h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}

/*
p.test1 {
    font-size: 20px;
}
p.test2 {
    font-size: 15px;
}
不同属性(attributes)就是为了区分相同标签(tag)用的, 这相当于给tag进行了分类, 在统一设计样式上更方便
*/
